* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  
  h1 {
    background-color: #1e3a8a;
    color: #f8fafc;
    height: 5rem;
    line-height: 5rem;
  }
  
  .selection-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
  }
  
  .choice {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #2563eb;
    transition: 0.3s;
  }
  
  .choice:hover {
    cursor: pointer;
    background-color: #2563eb;
    color: white;
  }
  
  .choice img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .score-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
  }
  
  .score-container {
    text-align: center;
  }
  
  #player-points, #computer-points {
    font-size: 4rem;
    font-weight: bold;
  }
  
  .result-message {
    margin-top: 3rem;
  }
  
  #status-msg {
    background-color: #081b31;
    color: #fff;
    font-size: 1.5rem;
    display: inline-block;
    padding: 1rem;
    border-radius: 1rem;
  }